.blue-color{
	background-color: $blue-color;
}
.mobile-menu{
	@mixin icons \f0c9;
	&:before{
		font-size: 1.8rem;
	}
}

.white-text{
	color:white;
}
.blue-color-text{
	color:$blue-color;
}

/* headers */
h1{
	font-size: 36px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 28px;
}
h4{
	font-size: 24px;
}
h5{
	font-size: 20px;
}
h6{
	font-size: 18px;
}


.banner-box{
	background-color:rgba(0,0,0,.5) !important;
	color:white !important;
	text-align: center !important;
	display:block;
	max-width:100% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	padding:1rem 2rem;
	h2, h3{
		margin-bottom:1rem;
	}
}

/* Buttons */

@define-extend buttons{
	color:white !important;
	padding: .8rem 1.2rem !important;
	display:inline-block ;
	text-transform: uppercase ;
}

.btn-1{
	background-color: $naranja  !important;
	@extend buttons;
}
.btn-2{
	background-color: $blue-color;
	@extend buttons;
}

/* END */

.footer-title{
	text-transform: uppercase;
	font-size: 1rem;
}